'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Bracket Matcher'
      'submenu': [
        { 'label': 'Open Project', 'command': 'project-plus:open' }
        { 'label': 'Close Project', 'command': 'project-plus:close' }
        { 'label': 'Save Project', 'command': 'project-plus:save' }
        { 'label': 'Remove Project', 'command': 'project-plus:remove' }
        { 'label': 'Edit Projects', 'command': 'project-plus:edit-projects' }
      ]
    ]
  }
]
