'.platform-darwin':
  'ctrl-cmd-p': 'project-plus:toggle-project-finder'

  'ctrl-cmd-tab': 'project-plus:open-next-recently-used-project'
  'ctrl-cmd-tab ^ctrl': 'project-plus:move-active-project-to-top-of-stack'

  'ctrl-shift-cmd-tab': 'project-plus:open-previous-recently-used-project'
  'ctrl-shift-cmd-tab ^ctrl': 'project-plus:move-active-project-to-top-of-stack'

'.platform-win32, .platform-linux':
  'alt-shift-p': 'project-plus:toggle-project-finder'

  'alt-shift-tab': 'project-plus:open-next-recently-used-project'
  'alt-shift-tab ^ctrl': 'project-plus:move-active-project-to-top-of-stack'

  'ctrl-alt-shift-tab': 'project-plus:open-previous-recently-used-project'
  'ctrl-alt-shift-tab ^ctrl': 'project-plus:move-active-project-to-top-of-stack'

'.project-finder atom-text-editor[mini]':
  'shift-enter': 'project-finder:alt-open' #alt-enter?
